.gallery-container {
	margin: 20px;
	float: left;
    width: 200px;
    height: 200px;
	position: relative;
}

@media only screen and (max-width: 767px)  {
	.gallery-container {
		width: 90%;
		height: 350px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 990px)  {
	.gallery-container {
		width: 44%;
		height: 270px;
	}
}

.gallery-container .image {
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.gallery-container:hover {
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.gallery-container .text {
	color: #fff;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
	margin: 0;
	padding: 10px;
}

.clear {
    clear: both;
    float: none;
    width: 100%;
}

/*
old stylings below
*/


.preview-box {
    width: 200px;
    height: 200px;
    background-color: #ffffdd;
    display: inline-block;
}

.preview-box:hover {
    width: 200px;
    height: 200px;
    background-color: #ffffaa;
    display: inline-block;
}

.preview-box img {
    max-width: 190px;
    max-height: 190px;
}