		<div class="clear"></div>
	</div>

	<!-- jQuery -->
	<script src="{{workspaceUri}}/js/jquery.js"></script>

	<!-- Lightbox Gallery -->
	<script src="{{workspaceUri}}/js/simple-lightbox.min.js"></script>

	<!-- Initialize Gallery -->
	<script type='text/javascript'>
		$(document).ready(function(){
			// Intialize lightbox gallery only when needed
			var gallery = $('.gallery-container a');
			if (gallery.length) {
				console.log("length: " + gallery.length);
//				gallery.simpleLightbox();
			}
		});
	</script>
</body>

</html>
