<!DOCTYPE html>
<html lang="de" xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>
		{{currentPage.name}} - {{siteName}}
	</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Description-->
	<!--Author-->
	<meta name="author" content="{{owner.name}}">
	<!-- Open Graph Data -->
	<meta property="og:title" content="{{siteName}}">
	<meta property="og:site_name" content="{{siteName}}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{domain}}{{currentPage.href}}" />
	<!-- Twitter Card -->
	{% if currentPage.twitter and currentPage.twitter|length > 0 %}
	{% for item in currentPage.twitter %}
	<meta name="twitter:{{item.name}}" content="{{item.value}}">
			{% if item.name == 'image' %}
	<meta property="og:image" content="{{item.value}}" />
			{% endif %}
		{% endfor %}
	{% endif %}
	<!-- Description -->
	{% if currentPage.description %}
	<meta name="description" content="{{currentPage.description}}">
	{% else %}
	<meta name="description" content="Dies ist website von {{siteName}}">
	{% endif %}
	{% if currentPage.noindex %}
	<meta name="robots" content="noindex,follow">
	{% endif %}
	<link rel="canonical" href="{{domain}}{{currentPage.href}}" />
	<!-- Title -->
	<title>{{siteName}}</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{{workspaceUri}}/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{workspaceUri}}/css/main.css?v=3">
	<link rel="stylesheet" type="text/css" href="{{workspaceUri}}/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="{{workspaceUri}}/css/decryptor.css">
	<link href='{{workspaceUri}}/css/simplelightbox.min.css' rel='stylesheet' type='text/css'>
	<link href='{{workspaceUri}}/css/gallery.css' rel='stylesheet' type='text/css'>

	{% if currentPage.cssPaths and currentPage.cssPaths|length > 0 %}
		{% for item in currentPage.cssPaths %}
	<link rel="stylesheet" type="text/css" href="{{workspaceUri}}/{{item}}">
		{% endfor %}
	{% endif %}

</head>

<body data-spy="scroll" data-target="#mainMenu" data-offset="10" style="position: relative;">

	<!-- navigation -->
	{% if (currentPage.teaserImage) %}
	{% set teaserClass = "transparent" %}
	{% endif %}
	{% if pages|length > 0 and (not (currentPage.hideNavigation)) %}

	<nav id="mainMenu" class="navbar navbar-expand-md navbar-light {{teaserClass|e}}">
		<a class="navbar-brand" href="#">
			{{logo|raw}}
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="fas fa-bars"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			{% if not (currentPage.hideNavigation) %}
			<ul class="nav navbar-nav mr-auto">
				{% for item in pages %}
				{% if "main" in item.menus %}
					<li class="nav-item">
						{% set href = item.href %}
						{% if (not (item.href starts with 'http')) and (item.href ends with '.html') %}
							{% set prefix = "" %}
							{% if (pagesLinkPrefixEnabled == true) %}
								{% set prefix = pagesLinkPrefix %}
							{% endif %}
							{% if (item.anchor and currentPage.href == item.href) %}
								{% set href = "#" ~ item.anchor %}
							{% else %}
								{% set href = prefix ~ item.href %}
							{% endif %}
						{% endif %}
						<a class="nav-link {% if item.name == currentPage.name %}active{% endif %}" href="{{ href|e }}">
							{{ item.name|e }}
						</a>
					</li>
					</span>
					{% endif %}
					{% endfor %}
				</li>
				{% endif %}
			</ul>
		</div>
			
			<!--	
			<div class="theme-switch">
				<i class="fas fa-sun"></i>
				<i class="fas fa-moon"></i>
			</div>
		-->
	</nav>
	{% endif %}
	<a id="top" class="anchor"></a>
	<div class="menu-spacer">
		&nbsp;
	</div>
	<div class="container spacer">
